<script>
    var idcomments_acct = '2ab673fdf241eb6c43340580931574a2';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

<script>
    var idcomments_acct = '2ab673fdf241eb6c43340580931574a2';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>