<div class="navBoxAll">
    <div class="navBoxChild">
        <a href="https://5h9igzqanx.github.io/TRDWBST-pages-blog/"><img src="https://5h9igzqanx.github.io/TRDWBST-media/picture/LOGO/LOGO.gif" alt="logo"></a>
        &emsp;&emsp;
        <a href="https://5h9igzqanx.github.io/TRDWBST-pages-blog/"><h2>{{ site.Title }}</h2></a>
        &emsp;&emsp;&emsp;&emsp;
        <div class="menuList">{{ partial "menu.html" (dict "menuID" "main" "page" .) }}</div>
        <!-- <div class="menuList"><ul><li>啊啊aaaaaaaaaaaaaaaaa</li><li>啊啊</li><li>啊啊</li><li>啊啊</li><li>啊啊</li><li>啊啊</li><li>啊啊</li></ul></div> -->
        <div class="openTheMobileMenu" id="openTheMobileMenu" onclick="document.getElementById('mobileMenu').style.display='block'">导航</div>
    </div>
</div>
<div class="mobileMenu" id="mobileMenu">
    <div class="mobileMenuChild">
        <div id="closeTheMobileMenu" onclick="document.getElementById('mobileMenu').style.display='none'">X</div>
        <h2>导航</h2>
        <br>
        <!-- <ul><li>啊啊aaaaaaaaaaaaaaaaa</li><li>啊啊</li><li>啊啊</li><li>啊啊</li><li>啊啊</li><li>啊啊</li><li>啊啊</li></ul> -->
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
</div>
<style>
    :root{
        --daoHangLan-ZiTi-wenZi:"ZX-C-霞鹜文楷","Times New Roman","Arial","楷体","宋体";
        --daoHangLan-peiSe-qian: #e6eef2;
        --daoHangLan-peiSe-zhong: #dae9f2;
        --daoHangLan-peiSe-shen: #cee5f2;
        --daoHangLan-peiSe-qian-withAlpha: #e6eef2ee;
        --daoHangLan-peiSe-zhong-withAlpha: #dae9f2ee;
        --daoHangLan-peiSe-shen-withAlpha: #cee5f2ee;
    }
</style>
<style>
    .navBoxAll{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0px;
        left: 10px;
        right: 10px;
        /* width: 100vw; */
        height: 80px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: var(--daoHangLan-peiSe-zhong-withAlpha);
        border: solid 2px var(--daoHangLan-peiSe-shen-withAlpha);
        border-top: none;
        font-family: var(--daoHangLan-ZiTi-wenZi);
        z-index: 10;
    }
    .navBoxAll .navBoxChild{
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    .navBoxAll .navBoxChild img{
        height: 64px;
        border: solid 5px #cee5f2;
        border-radius: 50%;
    }
    .navBoxAll .navBoxChild .menuList ul{
        display: flex;list-style-type: none;
    }
    .navBoxAll .navBoxChild .menuList ul>li{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navBoxAll .navBoxChild .openTheMobileMenu{
        display: none;
    }
    .mobileMenu{
        position: fixed;
        display: none;
        bottom: 0px;
        left: 0px;
        right: 0px;
        /* height: 200px; */
        background-color: var(--daoHangLan-peiSe-shen);
        z-index: 10;
        padding: 10px;
        padding-bottom: 0px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .mobileMenu .mobileMenuChild{
        background-color: var(--daoHangLan-peiSe-qian);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding: 30px;
    }
    .mobileMenu .mobileMenuChild h2{
        text-align: center;
    }
    .mobileMenu .mobileMenuChild #closeTheMobileMenu{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    .mobileMenu .mobileMenuChild ul{
        list-style-type: none;
    }
    @media  screen and (max-width:1000px) {
        .navBoxAll .navBoxChild .menuList ul{
            display: none;
        }
        .navBoxAll .navBoxChild .openTheMobileMenu{
            display: block;
            cursor: pointer;
        }
    }
</style>
<style>
    *{
        padding: 0px;
        margin: 0px;
    }
</style>