<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="https://5h9igzqanx.github.io/TRDWBST-media/picture/LOGO/LOGO-page.gif">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="stylesheet" href="https://5h9igzqanx.github.io/fonts-wbst/font.css">
<link rel="stylesheet" href="https://5h9igzqanx.github.io/TRDWBST/CSS/header/boss.css">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
