<style>
    :root{
        --zuoLan-ZiTi-wenZi:"ZX-C-霞鹜文楷","Times New Roman","Arial","宋体","楷体";
        --zuoLan-peiSe-qian: #e6eef2;
        --zuoLan-peiSe-zhong: #dae9f2;
        --zuoLan-peiSe-shen: #cee5f2;
    }
</style>
<style>
    .leftMainBox{
        background-color:var(--zuoLan-peiSe-zhong);
        border-radius:25px;
        margin-left:10px;
        margin-right:20px;
        padding-left:8px;
        padding-right:8px;
        padding-top:20px;
        padding-bottom:20px;
        overflow-y:auto;
        font-family: var(--zuoLan-ZiTi-wenZi);
    }
    .avatar{
        overflow: hidden;
        width: 150px;
        height: 150px;
        display: block;
        margin: 0px auto;
        padding: 0px;
    }
    .avatar img{
        width: 90%;
        height: auto;
        border: 4px solid var(--zuoLan-peiSe-shen);
        border-radius: 50%;
        object-fit: cover;
    }
    .center{
        text-align: center;
    }
    @media screen and (max-width:1000px) {
        #owner,#hidInMobile{
            display: none;
        }
    }
</style>
<div class="leftMainBox" id="owner">
    <br>
    <div class="avatar">
        <img src="https://5h9igzqanx.github.io/TRDWBST-media/picture/LOGO/LOGO.gif" title="5h9igzqanx" alt="头像" class="avatar">
    </div>
    <br>
    <h3 class="center">5h9igzqanx</h3>
    <br>
    <br>
</div>
<br id="hidInMobile">
<div class="leftMainBox" id="ParentBoxOfContentOfPost">
    {{ if .TableOfContents }}
        <h2 class="center">本篇目录</h2>
        <style>
            .toc{
                font-weight: bold;
                color: gray !important;
                padding-left: 8px;
                padding-right: 8px;
            }
            .toc ul{
                list-style-type: none;
                counter-reset: contentOrderNumer;
            }
            .toc li{
                margin-bottom: 2px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp:1;
                line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .toc li::before{
                content: counter(contentOrderNumer) ".";
                counter-increment: contentOrderNumer;
                color: gray;
            }
            .toc li ul{
                margin-left: 20px;
            }
            #ParentBoxOfContentOfPost{
                transition: top 0.3s;
            }
        </style>
        <br>
        <div class="toc" id="contentOfPost">
            {{ .TableOfContents }}
        </div>
    {{ end }}
</div>
<br id="brUnderContentOfPost">
<script>
    let url=window.location.href;
    if(url.indexOf("post")===-1){
        if(document.getElementById("ParentBoxOfContentOfPost")){document.getElementById("ParentBoxOfContentOfPost").remove();document.getElementById("brUnderContentOfPost").remove();};
    }else{
        var contentEle=document.getElementById("ParentBoxOfContentOfPost"),parentOfcnt=contentEle.parentElement,stickyTop=contentEle.getBoundingClientRect().top + window.pageYOffset;//FIXME 出错过
        window.addEventListener("scroll",function(){
            var scrollPosition=(window.pageYOffset||document.documentElement.scrollTop)+100;
            if((scrollPosition>stickyTop)&&(window.innerWidth>1000)){
                contentEle.style.position='fixed';contentEle.style.top='100px';contentEle.style.width=(String((document.getElementById("leftMain").offsetWidth)-46)+"px");
            }else{
                contentEle.style.position='';contentEle.style.top='';contentEle.style.width='';
            };
        });
    }
</script>
<br>