<!-- 测试一下模板 -->
<!-- 此处用于生成文章列表 -->


{{- range .Pages }}
    <div class="postList">
        <h2><a href="{{ .RelPermalink }}" target="_blank">{{ .LinkTitle }}</a></h2>
        {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{- $dateHuman := .Date | time.Format "2006年1月2日" }}
        {{- $description := .Params.description | default (printf "%s" (.Plain | truncate 150)) }}
        {{- $author := .Params.author |default "佚名" }}
        <p>日期:&emsp;<span>{{ $dateHuman }}</span>&emsp;&emsp;作者:&ensp;<span>{{ $author }}</span></p>
        <div class="categoriesAndTagsBoxAll">
            <div class="categoriesBox">{{- partial "terms.html" (dict "taxonomy" "categories" "page" .) }}</div>
            <div class="tagsBox">{{- partial "terms.html" (dict "taxonomy" "tags" "page" .) }}</div>
        </div>
        <p>{{ $description }}</p>
    </div>
    <br>
{{- end }}