:root{
    --bigTitleCss-ZiTi-wenZi:"ZX-C-霞鹜文楷","Times New Roman","Arial","宋体","楷体";
    --bigTitleCss-peiSe-qian: #e6eef2;
    --bigTitleCss-peiSe-zhong: #dae9f2;
    --bigTitleCss-peiSe-shen: #cee5f2;
}
.bigTitle{
    padding: 10px;
    background-color: var(--bigTitleCss-peiSe-zhong);
    border-radius: 25px;
}
.bgImgInBigTitle{
    margin: 10px;
    margin-bottom: -40px !important;
    width: calc(100% - 20px);
    position: relative;
    z-index: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.bgImgInBigTitle>img{
    width: 100%;
}
.bigTitleChild{
    padding: 10px;
    margin: 10px;
    background-color: var(--bigTitleCss-peiSe-qian);
    border-radius: 25px;
    position: relative;
    font-family: var(--bigTitleCss-ZiTi-wenZi);
}