.bigTitle{
    padding: 10px;
    background-color: #dae9f2;
    border-radius: 25px;
}
.bgImgInBigTitle{
    margin: 10px;
    margin-bottom: -40px !important;
    width: calc(100% - 20px);
    position: relative;
    z-index: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.bgImgInBigTitle>img{
    width: 100%;
}
.bigTitleChild{
    padding: 10px;
    margin: 10px;
    background-color: #e6eef2;
    border-radius: 25px;
    position: relative;
    font-family: "ZX-C-霞鹜文楷",'Times New Roman','Arial','楷体','宋体';
}