:root{
    --postListCss-ZiTi-wenZi:"ZX-C-霞鹜文楷","Times New Roman","Arial","宋体","楷体";
    --postListCss-peiSe-qian: #e6eef2;
    --postListCss-peiSe-zhong: #dae9f2;
    --postListCss-peiSe-shen: #cee5f2;
}
.postList {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    padding: 20px;
    border-radius: 25px;
    background-color: var(--postListCss-peiSe-zhong);
    margin: 5px;
    /* box-shadow: 0px 0px 5px 1px gray; */
    font-family: var(--postListCss-ZiTi-wenZi);
}
.postList p {
    color: rgb(0, 0, 0, 0.6);
}
.postList h2 a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.postList h2 a:hover {
    color: var(--postListCss-peiSe-shen);
}
.postList time {
    font-size: small;
}