.postList {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #a3c6da;
}

.postList p {
    color: rgb(0, 0, 0, 0.6);
}

.postList h2 a:hover {
    color: #75aac8;
}

.postList time {
    font-size: small;
}