.postList {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    padding: 20px;
    border-radius: 25px;
    background-color: #cadeea;
    margin: 5px;
    box-shadow: 0px 0px 5px 1px gray;
}
.postList p {
    color: rgb(0, 0, 0, 0.6);
}
.postList h2 a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.postList h2 a:hover {
    color: #75aac8;
}
.postList time {
    font-size: small;
}