{{ define "main" }}
    {{ $stylePostList := resources.Get "css/postList.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $stylePostList.Permalink }}" integrity="{{ $stylePostList.Data.Integrity }}" crossorigin="anonymous">
    <meta name="robots" content="noindex,nofollow">
    <style>
        .bigTitle{
            padding: 10px;
            margin: 5px;
            box-shadow: 0px 0px 5px 1px gray;
            background-color: #a3c6da;
            border-radius: 25px;
        }
        .bgImgInBigTitle{
            margin: 10px;
            margin-bottom: -40px !important;
            width: calc(100% - 20px);
            position: relative;
            z-index: 1;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .bgImgInBigTitle>img{
            width: 100%;
        }
        .bigTitleChild{
            padding: 20px;
            margin: 10px;
            background-color: #cadeea;
            border-radius: 25px;
            position: relative;
            z-index: 2;
            font-family: 'Times New Roman','Arial','楷体';
        }
        .tags{
            text-align: left;
            white-space: normal;
        }
        .tags .tag{
            display: inline-block;
            border-radius: 25px;
            font-size: 1.3rem;
            margin: 5px;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #a3c6da;
            font-family: 'Times New Roman','Arial','楷体';
        }
        .tags .tag::before{
            content: "#";
        }
        .tags .tag a:hover{
            color: #75aac8;
        }
    </style>
    <div class="bigTitle">
        <div class="bgImgInBigTitle">
            <img src="https://5h9igzqanx.github.io/TRDWBST-media/picture/blog/bgImg/default.jpg" alt="" title="">
        </div>
        <div class="bigTitleChild">
            <h2>标签 | {{ site.Title }}</h2>
            <p>这里是这块地的指示牌。</p>
            <p>你想找什么？点他所属的分类就行了。</p>
            <p>还是那句话：可以评论，不许嘴臭嗷！</p>
        </div>
    </div>
    <br>
    <div class="tags">
        {{ range .Pages }}
            <div class="tag"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
        {{ end }}
    </div>
{{ end }}