{{ define "main" }}
    {{ $styleBigTitle := resources.Get "css/bigTitle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styleBigTitle.Permalink }}" integrity="{{ $styleBigTitle.Data.Integrity }}" crossorigin="anonymous">
    <style>
        .bigTitleChild{
            z-index: 2;
        }
    </style>
    <div class="bigTitle">
        <div class="bgImgInBigTitle">
            <img src="https://5h9igzqanx.github.io/TRDWBST-media/picture/blog/bgImg/default.jpg" alt="" title="">
        </div>
        <div class="bigTitleChild">
            <h2>{{ .Title }} | 标签 | {{ site.Title }}</h2>
            <p>这里是所有带“{{ .Title }}”标签的文章</p>
            <p>慢慢看看吧，不急</p>
            <p>但是：可以评论，不许嘴臭嗷！</p>
        </div>
    </div>
    <br>
    {{ partial "listPosts.html" . }}
{{ end }}