{{ define "main" }}
    <meta name="robots" content="noindex,nofollow">
    <!-- {{ $stylePostList := resources.Get "css/postList.css" | minify | fingerprint }} -->
    <!-- <link rel="stylesheet" href="{{ $stylePostList.Permalink }}" integrity="{{ $stylePostList.Data.Integrity }}" crossorigin="anonymous"> -->
    <!-- {{ $styleTagsBox := resources.Get "css/tagsBox.css" | minify | fingerprint }} -->
    <!-- <link rel="stylesheet" href="{{ $styleTagsBox.Permalink }}" integrity="{{ $styleTagsBox.Data.Integrity }}" crossorigin="anonymous"> -->
    <style>
        .bigTitle{
            padding: 10px;
            /* margin: 5px; */
            /* box-shadow: 0px 0px 5px 1px gray; */
            background-color: #dae9f2;
            border-radius: 25px;
        }
        .bgImgInBigTitle{
            margin: 10px;
            margin-bottom: -40px !important;
            width: calc(100% - 20px);
            position: relative;
            z-index: 1;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .bgImgInBigTitle>img{
            width: 100%;
        }
        .bigTitleChild{
            padding: 20px;
            margin: 10px;
            background-color: #e6eef2;
            border-radius: 25px;
            position: relative;
            z-index: 2;
            font-family: "ZX-C-霞鹜文楷",'Times New Roman','Arial','楷体','宋体';
        }
        .postAll{
            background-color: #dae9f2;
            border-radius: 25px;
            margin: 10px;
            overflow: hidden;
        }
        .postList{
            /* background-color: #dae9f2; */
            /* border-radius: 25px; */
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            margin: 5px;
            display: flex;
            align-items: center;
            height: 40px;
            font-family: "ZX-C-霞鹜文楷",'Times New Roman','Arial','楷体','宋体';
            overflow: visible;
        }
        .postList:hover{
            background-color: #e6eef2;
            border-radius: 25px;
        }
        .postList:active{
            background-color: #cee5f2;
            border-radius: 25px;
        }
        .postDate{
            width: 100px;
            color:gray;
            text-align: right;
        }
        .line{
            display: flex;
            width: 80px;
        }
        .line::before{
            content: "";
            width: 0px;
            height: 53px;
            border: 1px solid gray;
            position: relative;
            /* left: 119px;别改，这可是有来历的 */
            left: 11px;
            pointer-events: none;
        }
        .line .dot{
            width: 12px;
            height: 12px;
            border-radius: 16px;
            background-color: #cee5f2;
            /* outline: 8px solid white; */
            border: 4px solid white;
            position: relative;
            top: 19.5px;
            z-index: 2;
        }
        .postTitle{
            width: calc(100% - 160px);
            height: 100%;
            text-align: left;
            overflow: hidden;
        }
    </style>
    <div class="bigTitle">
        <div class="bgImgInBigTitle">
            <img src="https://5h9igzqanx.github.io/TRDWBST-media/picture/blog/bgImg/default.jpg" alt="" title="">
        </div>
        <div class="bigTitleChild">
            <h2>归档 | {{site.Title}}</h2>
            <p>这里是归档页面，正在施工</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo molestias, ad nihil alias consectetur necessitatibus temporibus quos doloremque optio quia nisi quisquam. Ad, et! Mollitia soluta ipsam quis eum ad.</p>
            <p>20250113，试试能否只遍历文章。</p>
        </div>
    </div>
    <br>
    <div class="postAll">
        {{ range (where .Site.Pages "Section" "post") }}
            <a href="{{ .RelPermalink }}" target="_blank" class="postList">
                {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                {{ $dateHuman := .Date | time.Format "2006-01-02" }}
                <div class="postDate">{{ $dateHuman }}</div>
                <div class="line"><div class="dot"></div></div>
                <div class="postTitle">{{ .LinkTitle }}</div>
            </a>
        {{ end }}
    </div>
{{ end }}
