{{ define "main" }}
    <meta name="robots" content="noindex,nofollow">
    {{ $styleBigTitle := resources.Get "css/bigTitle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styleBigTitle.Permalink }}" integrity="{{ $styleBigTitle.Data.Integrity }}" crossorigin="anonymous">
    <style>
        .bigTitleChild{
            z-index: 2;
        }
        .postAll{
            background-color: #dae9f2;
            border-radius: 25px;
            padding: 10px;
            overflow: hidden;
        }
        .postList{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            margin: 5px;
            display: flex;
            align-items: center;
            height: 40px;
            font-family: "ZX-C-霞鹜文楷",'Times New Roman','Arial','楷体','宋体';
            overflow: visible;
        }
        .postList:hover{
            background-color: #e6eef2;
            border-radius: 25px;
        }
        .postList:active{
            background-color: #cee5f2;
            border-radius: 25px;
        }
        .postDate{
            width: 80px;
            color:gray;
            text-align: right;
        }
        .line{
            display: flex;
            width: 40px;
        }
        .line::before{
            content: "";
            width: 0px;
            height: 53px;
            border: 1px solid gray;
            position: relative;
            /* left: 119px;别改，这可是有来历的 */
            left: 11px;
            pointer-events: none;
        }
        .line .dot{
            width: 12px;
            height: 12px;
            border-radius: 16px;
            background-color: #cee5f2;
            /* outline: 8px solid white; */
            border: 4px solid white;
            position: relative;
            top: 19.5px;
            z-index: 2;
        }
        .postTitle{
            width: calc(100% - 100px);
            height: 100%;
            text-align: left;
            overflow: hidden;
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            line-clamp: 1;
        }
        .postAll .year{
            margin: 5px;
            padding: 5px;
            border-radius: 25px;
            border: solid 5px #cee5f2;
            background-color: #e6eef2;
            padding-left: 180px;
            height: 30px;
            font-family: "ZX-C-霞鹜文楷",'Times New Roman','Arial','楷体','宋体';
            display: flex;
            align-items: center;
            font-weight: 700;
        }
    </style>
    <div class="bigTitle">
        <div class="bgImgInBigTitle">
            <img src="https://5h9igzqanx.github.io/TRDWBST-media/picture/blog/bgImg/default.jpg" alt="" title="">
        </div>
        <div class="bigTitleChild">
            <h2>归档 | {{site.Title}}</h2>
            <p>这里是归档页面，正在施工</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo molestias, ad nihil alias consectetur necessitatibus temporibus quos doloremque optio quia nisi quisquam. Ad, et! Mollitia soluta ipsam quis eum ad.</p>
            <p>20250113，试试能否去掉Posts的页面，其实我打算用这个页面代替Posts。</p>
        </div>
    </div>
    <br>
    <div class="postAll">
        {{ $pageWhere1 := (where .Site.Pages "Section" "post") }}
        {{ range (where $pageWhere1 "Title" "ne" "Posts" ) }}
            {{ $dateMachine := .Date | time.Format "20060102" }}
            <a href="{{ .RelPermalink }}" target="_blank" class="postList" id="{{ $dateMachine }}">
                {{ $dateHuman := .Date | time.Format "01-02" }}
                <div class="postDate">{{ $dateHuman }}&emsp;</div>
                <div class="line"><div class="dot"></div></div>
                <div class="postTitle">{{ .LinkTitle }}</div>
            </a>
        {{ end }}
    </div>
    <script>
        const parentElement = document.querySelector('.postAll');
        const children = Array.from(parentElement.children);
        for (let i = 0; i < children.length - 1; i++) {
            const currentId = children[i].id.substring(0,4);
            const nextId = children[i + 1].id.substring(0,4);
            if (currentId !== nextId) {
                const newElement = document.createElement('div');
                newElement.className = 'year';
                newElement.textContent = nextId+"年↓";
                parentElement.insertBefore(newElement, children[i + 1]);
            }
        }
        // 下面是添加第一个年份元素的功能
        the1stYear=document.createElement('div');
        the1stYear.className = 'year';
        the1stYear.textContent = children[0].id.substring(0,4)+"年↓";
        parentElement.insertBefore(the1stYear, children[0]);
    </script>
{{ end }}
