{{ define "main" }}
  {{ .Content }}
  {{ $style := resources.Get "css/postList.css" | minify | fingerprint }}
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
  <style>
    .tagsBox ul{
      display: flex;list-style-type: none;
    }
    .tagsBox ul>li{
      /* padding-left: 10px; */
      margin-right: 10px;
      padding-left: 5px;
      padding-right: 5px;
      border: solid 1px #75aac8;
      border-radius: 25px;
      background-color: #cadeea;
    }
    .tagsBox ul>li:hover{
      background-color: #75aac8;
    }
  </style>
  {{ range site.RegularPages }}
  <div class="postList">
    <br>
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    {{ $description := .Params.description | default (printf "%s" (.Plain | truncate 150))}}
    {{ $author := .Params.author |default "佚名"}}
    <p>{{$description}}</p>
    <p><span>{{ $dateHuman }}</span>&emsp;作者:&ensp;<span>{{$author}}</span></p>
    <div class="tagsBox">{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}</div>
  </div>
  {{ end }}
{{ end }}
