{{ define "main" }}
  <style>
    .cnt{
      background-color:#a3c6da;
      border-radius: 25px;
      padding: 10px;
    }
    .cntTitle{
      background-color: #cadeea;
      border-radius: 25px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
    }
    .tagsBox ul{
      display: flex;list-style-type: none;
    }
    .tagsBox ul>li{
      /* padding-left: 10px; */
      margin-right: 10px;
      padding-left: 5px;
      padding-right: 5px;
      border: solid 1px #75aac8;
      border-radius: 25px;
      background-color: #a3c6da;
    }
    .tagsBox ul>li:hover{
      background-color: #75aac8;
    }
    .cntBody{
      margin: 10px;
    }
  </style>
  <style>
    .cntBody a:hover{
      color: #75aac8;
    }
    .cntBody blockquote{
      border: solid 1px #75aac8;
      position: relative;
      margin: 0;
      padding-left: 10px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px; 
      font-style: italic;
    }
    .cntBody blockquote::before{
      content: "";
      display: inline-block;
      width: 10px;
      background-color: #75aac8;
      position: absolute;
      top: 0; 
      left: 0;
      bottom: 0;
    }
    .cntBody pre{
      border: solid 1px #75aac8;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      padding-right: 25px;
      -webkit-user-select:text;
      user-select:all;
    }
    .cntBody img{
      width: 100%;
      border: solid 1px #75aac8;
    }
    .cntBody table{
      border-collapse: separate;
      border: solid 1px #75aac8;
      width: 100%;
      border-radius: 25px;
    }
    .cntBody table th,table td{
      border: solid 1px #75aac8;
      text-align: left;
    }
    .cntBody table thead>tr:first-child>th:first-child{
      padding-left: 10px;
      border-top-left-radius: 25px;
    }
    .cntBody table thead>tr:first-child>th:last-child{
      border-top-right-radius: 25px;
    }
    .cntBody table tbody>tr:last-child>td:first-child{
      padding-left: 10px;
      border-bottom-left-radius: 25px;
    }
    .cntBody table tbody>tr:last-child>td:last-child{
      border-bottom-right-radius: 25px;
    }
    .cntBody table tbody>tr>td:first-child{
      padding-left: 10px;
    }
  </style>
  <div class="cnt">
    <div class="cntTitle">
      <h1>{{ .Title }}</h1>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <p><span>{{ $dateHuman }}</span>&emsp;作者:&ensp;<span>{{.Params.author}}</span></p>
      <div class="tagsBox">{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}</div>
    </div>
  </div>
  <br>
  <div class="cnt">
    <br>
    <div class="cntBody">{{ .Content }}</div>
    <br>
  </div>
  <br>
  <div class="cnt">
    <script>
      console.log("{{ .Title }}")
      var idcomments_acct = '2ab673fdf241eb6c43340580931574a2';
      var idcomments_post_id = window.location.href;
      var idcomments_post_url = window.location.href;
      // var idcomments_post_title = "{{ .Title }}"
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    <p>114514</p>
  </div>
  <br>
{{ end }}
